.signup-container {
  width: 300px; /* ou la largeur désirée */
  margin: auto;
  padding: 20px;
  border-radius: 8px; /* exemple de bord arrondi */

  img {
    width: 200px;
  }
}

.signup-container h2 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
