.container-presta {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 70%;

  .content-order-default,
  .content-order-swapped {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .image {
    width: 75%;
  }

  .info {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .title {
      color: #000;
      font-family: Poppins;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .content {
      color: #000;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .bouton {
      width: fit-content;
      padding: 10px 20px;
      border-radius: 40px;
      background: #253784;
      color: white;
      color: #fff;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      transition: 0.3s;
      border: 3px white solid;

      &:hover {
        background: #fff;
        color: #253784;
        border: 3px #253784 solid;
      }
    }
  }
}
