.btn-primary {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 40px;
  background: #253784;
  color: white;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.3s;
  border: 3px white solid;
  cursor: pointer;
  &:hover {
    background: #fff;
    color: #253784;
    border: 3px #253784 solid;
  }
}

.btn-secondary {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 40px;
  background: #f3bed7;
  color: white;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.3s;
  border: 3px white solid;
  cursor: pointer;
  &:hover {
    background: #fff;
    color: #f3bed7;
    border: 3px #f3bed7 solid;
  }
}
